[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
argon2-cffi = "*"
ldap3 = "*"
urllib3 = "*"
aws-xray-sdk = "*"
msal = "*"
aws-lambda-powertools = {extras = ["tracer"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
